# Segmenting and Clustering Neighborhoods in Toronto

In [14]:
# Start by creating a new Notebook for this assignment.
# setup import
import pandas as pd 
!pip install wikipedia
import wikipedia as wp
from bs4 import BeautifulSoup

Requirement already satisfied: wikipedia in c:\users\user\anaconda3\lib\site-packages (1.4.0)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from wikipedia) (2.24.0)
Requirement already satisfied: beautifulsoup4 in c:\users\user\anaconda3\lib\site-packages (from wikipedia) (4.9.1)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2020.6.20)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4->wikipedia) (2.0.1)

-----------------------------------------------------------------------------------
Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

In [15]:
html = wp.page("List_of_postal_codes_of_Canada:_M").html().encode("UTF-8")

# determine the index of your table
df = pd.read_html(html, header = 0)[0]

In [16]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [17]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df = df[df.Borough != 'Not assigned']

In [18]:
for i in df["Borough"]:
    if i == 'Not assigned':
        print("Not Cleaned")
    else:
        print("Mission Completed")

Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed
Mission Completed

In [23]:
#Rows will be same postalcode will combined into one row with the neighborhoods separated with a comma
result = df.groupby(['Postal Code','Borough'], sort=False).agg( ', '.join)

In [24]:
result.head()

                                                            Neighbourhood
Postal Code Borough
M3A         North York                                          Parkwoods
M4A         North York                                   Victoria Village
M5A         Downtown Toronto                    Regent Park, Harbourfront
M6A         North York                   Lawrence Manor, Lawrence Heights
M7A         Downtown Toronto  Queen's Park, Ontario Provincial Government

In [25]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
df.loc[df['Neighbourhood'] == 'Not assigned' , 'Neighbourhood'] = df['Borough']
df.head(10)

   Postal Code           Borough                                Neighbourhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

In [26]:
df.shape

(103, 3)

---------------------------------------------------------------------------------------
Use the Geospatial_Coordinates.csv file for the Geospatial Coordinates

In [27]:

df_lon_lat = pd.read_csv('Geospatial_Coordinates.csv')
df_lon_lat.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

----------------------------------------------------------------------------------------------------------
Show the columns

In [33]:
df_lon_lat.columns=['Postal Code','Latitude','Longitude']

In [35]:
df_Toronto = pd.merge(df,df_lon_lat[['Postal Code','Latitude', 'Longitude']],on='Postal Code')

In [36]:
df_Toronto.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [38]:
df_Toronto.shape

(103, 5)